.item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.name {
    margin-left: 10px;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
}

.offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}