.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.name {
    margin-top: 10px;
}

.online,
.offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}

.onlineText {
    color: green;
    font-weight: bold;
}

.offlineText {
    color: red;
    font-weight: bold;
}